@font-face {
    font-family: 'Metanoia';
    src: url('Metanoia.eot');
    src: local('Metanoia Regular'), local('Metanoia'),
        url('Metanoia.eot?#iefix') format('embedded-opentype'),
        url('Metanoia.woff2') format('woff2'),
        url('Metanoia.woff') format('woff'),
        url('Metanoia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

